.Signup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Signup label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Signup img {
    height: 300px;
}