.Post {
    display: flex;
    flex-direction: column;
    border: 1px dashed lightgreen;
    box-shadow: 2px;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
}

.Post img {
    width: 300px;
}

.Liked .Button {
    background-color: rgb(251, 122, 100);
}

.Liked .Button .bi {
    color: red;
}

.NotLiked .Button {
    background-color: gray;
}

.NotLiked .Button .bi {
    color: black;
}

.LikesNum {
    color: red;
    font-weight: bold;
}

.backgroundGray {
    background-color: rgb(232, 226, 226);
}