.FollowingPeople {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.Followers {
    position: relative;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.alertOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alertBox {
    width: 340px;
    max-height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.alertList {
    flex: 1;
    overflow-y: auto;
}