.Follow {
    display: flex;
    flex-direction: column;
    border: 1px dashed lightslategray;
    justify-content: center;
    align-items: center;
}

.Follow img {
    max-height: 32px;
    width: 32px;
}

.Follow .Name {
    margin: 0px 3px;
}

.V {
    color:green
}

.X {
    color: red;
}